.idea
src/.idea/
src/__pycache__/
src/edges2handbags
src/handbags2shoes
src/edges2shoes
src/cityscapes
src/facades
src/maps
github_imgs
src/jupyter/.ide
src/jupyter/.ipynb_checkpoints
src/jupyter/__pycache__
src/jupyter/img/
src/jupyter/*.avi
src/jupyter/*.gif
github_imgs/
